$font-size: 14px !default;
$min-width: 80px !default;

@mixin buttons {
    .btn {
        @include button;

        &.btn-rounded {
            border-radius: 5px;
        }
        &.btn-circle {
            border-radius: 50px;
        }
        &.btn-icon {
            @extend .btn-circle;
            min-width: 0 !important;
            width: 35px;
        }
        &.btn-block {
            width: 100%;
        }
        &.btn-sm, &.btn-small {
            min-width: 60px;
            padding: 5px 10px;
            font-size: ($font-size - 4);
        }
        &.btn-lg, &.btn-large {
            padding: .5em 2em;
            font-size: 1.25rem;
        }
        &.btn-big, &.btn-bigger {
            padding: 1em 4em;
            font-size: 2em;
        }

        &.disabled, &[disabled] {
            opacity: .6;
            cursor: not-allowed;
            pointer-events: none;
        }

        @include theme-colors(btn, (auto-color:true, properties:background-color border-color));

        @include theme-colors(btn-outline, (properties:color), (auto-color:true, properties:background-color)) {
            color: #fffaff;
            box-shadow: none !important;
            border-style: none !important;
        }

        @include theme-colors(btn-border, (properties:color border-color), (properties:background-color border-color)) {
            color: #fffaff;
            border-width: 2px !important;
            border-style: solid !important;
            box-shadow: none !important;
        }

        @include theme-colors(btn-inverse, (), (properties:color)) {
            color: #fffaff;
            border-color: white !important;
            border-width: 2px !important;
            border-style: solid !important;
            box-shadow: none !important;
            &:hover {
                background: white !important;
            }
        }
    }

    .dropdown {
        @include dropdown();
    }
}

@mixin button() {
    @extend %flex;
    cursor: pointer;
    border: none;
    font-size: $font-size;
    min-width: $min-width;
    margin: 5px;
    padding: 8px 15px;
    border: 2px solid transparent;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    &:hover, &:focus {
        @include transition;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }

    .material-icons {
        margin: 0 5px;
    }
}

@mixin dropdown() {
    align-self: flex-start;
    text-align: center;
    text-transform: uppercase;
    a {
        width: 100%;
        padding: 8px 15px !important;
        border: 2px solid transparent;
        &:hover, &:focus {
            @include transition;
            background: rgba(0,0,0,.1);
        }
    }

    .dropdown {
        width: 100%;
        display: flex;
    }
    
    .dropdown-list,
    .dropdown-items {
        display: flex;
        flex-direction: column;
        opacity: 0;
        min-width: 120px;
        position: absolute;
        background: white;
        visibility: hidden;
        margin-left: -1.5%;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        transition: all .3s ease-in-out;
        a {
            color: black;
            width: 100%;
            margin: 0 !important;
        }
    }

    &:hover > .dropdown-list, &:focus > .dropdown-list,
    &:hover > .dropdown-items, &:focus > .dropdown-items {
        opacity: 1;
        margin-top: 5px;
        visibility: visible !important;
    }
}

@include buttons;