/**
 * Flex's
 */
.flex-column,
.row > .flex-column {
    flex-direction: column !important;
}
.flex-row,
.row > .flex {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
}
.center-center {
    @extend .center;
    align-items: center;
}

/**
* Gradients
*/
.gd-primary-to-transparent {
    background: -webkit-linear-gradient(to bottom, color(primary, base), color(primary, transparent));
    background: linear-gradient(to bottom, color(primary, base), color(primary, transparent));
}
.gd-primary-to-secondary {
    background: -webkit-linear-gradient(to bottom, color(primary, base), color(secondary, base));
    background: linear-gradient(to bottom, color(primary, base), color(secondary, base));
}
.gd-primary-to-third {
    background: -webkit-linear-gradient(to bottom, color(primary, base), color(third, base));
    background: linear-gradient(to bottom, color(primary, base), color(third, base));
}

/* margin and padding class */
@each $property in margin padding {
    @for $i from 0 through 10 {
        .#{$property}-#{$i} {
            #{$property}: #{$i*10}px !important;
            @if $property == margin {
                @include breakpoint(phone) {
                    #{$property}: 0 !important;
                }
            }
        }
    }
    @each $side in top bottom left right {
        @for $i from 0 through 10 {
            .#{$property}-#{$side}-#{$i} {
                #{$property}-#{$side}: #{$i*10}px !important;
                @if $property == margin {
                    @include breakpoint(phone) {
                        #{$property}: 0 !important;
                    }
                }
            }
        }
    }
}

/* Position's class */
@each $type in map-get($positions, type) {
    .position-#{$type} {position: $type;}
    @each $side in map-get($positions, sides) {
        .position-#{$type}-#{$side} {
            position: #{$type};
            #{$side}: 0;
        }
    }
}

/**
* Unique's Class
*/
.pos-absolute-static-on-mobile {
    position: absolute;
    @include breakpoint(tablet) {
        position: static !important;
    }
}