/** Columns */
@for $i from 2 through $columns {
    .col-#{$i} {
        width: (100% / $columns * $i);
        @include breakpoint(laptop) {
            @if $i <= ($columns) {
                width: 50%;
            } @else {
                width: 100%;
            }
        }
        @include breakpoint(phone) {
            width: 100%;
        }
    }
}

/** Row */
.row {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/** Gutter */
.row:not(.no-gutter) [class^="col-"] {
    padding: 0 ($gutter/2);
    
    & .row & {
        padding: ($gutter/2)/2;
    }

    @include breakpoint(laptop) {
        padding: ($gutter/2) 0;
    }
}