/**
 * Placeholders
 * class not compiled
 */
%flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

%flex-item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    @include breakpoint(phone) {
        padding: 10px;
    }
}